* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x:hidden;
}

/* 头部导航栏 */
.head {
    width: 100%;
    height: 70px;
    background-color: rgb(34, 179, 193);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.head .nav {
    position:absolute;
    right:200px;
    right:200px;
    font-size: 20px;
    line-height: 50px;
}
.head .nav a {
    color:white;
}
.head .nav a:hover {
    color:rgb(60, 108, 210);
}
.head .logo {
    position: absolute;
    top: 16px;
    left: 170px;
    height: 70px;
    width: 70px;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
}
.head .active{
    border-bottom: 4px solid white;
}

/* 轮播图 */
.lunbo {
    position: relative;
    width:500%;
    height:750px;
}
.lunbo img {
    float:left;
    width:20%;
    height:750px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* content */
.content {
    height:1610px;
    width:65%;
    margin-left:100px;
    
}
.content .content-item {
    position:relative;
    width:100%;
    height:350px;
    margin-top:70px;
}
.content .content-item img {
    float:left;
    width:350px;
    height:350px;
    border-radius: 50px;
}
.content-item .item-text {
    float:left;
    height:350px;
    width:60%;
    margin-left:15px;
}
.content-item .item-text h4 {
    font-weight: 700;
}
.content-item .item-text p {
    color:#afafaf;
    line-height: 30px;
}
.content-item .more {
    position:absolute;
    top:0px;
    right:20px;
    width:157px;
    height:45px;
    background-color: #22B3C1;
    border-radius: 25px;
    border:0;
    transition:all 0.3s;
}
.content-item .more a {
    display: block;
    text-decoration: none;
    color:white;
    width:100%;
    height:100%;
    text-align: center;
    line-height: 45px;
}
.content-item .more:hover {
    width:162px;
    height:50px;
    transition:all 0.3s;
}
.content-item .grade {
    display: flex;
    justify-content: space-around;
    width:100%;
    height:55px;
    line-height: 55px;
    border-top:2px solid #eee;
    border-bottom:2px solid #eee;
}
.item-text .address{
    margin-top:20px;
    margin-left:20px;
}
/* footer */
.footer{
    position:relative;
    margin-top:120px;
    height:241px;
    width:100%;
}
.footer img{
    width:100%;
    height:100%;
}
.footer h2 {
    position:absolute;
    top:100px;
    left:100px;
    color:#FFFFFF;
}