* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x:hidden;
}
a {
    text-decoration: none;
}

/* 头部导航栏 */
.head {
    width: 100%;
    height: 70px;
    background-color: rgb(34, 179, 193);
    border-top-left-radius: 20px;
}
.head .nav {
    position:absolute;
    right:200px;
    right:200px;
    font-size: 20px;
    line-height: 50px;
}
.head .nav a {
    color:white;
}
.head .nav a:hover {
    color:rgb(60, 108, 210);
}
.head .logo {
    position: absolute;
    top: 16px;
    left: 170px;
    height: 70px;
    width: 70px;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
}
.head .active{
    border-bottom: 4px solid white;
}

/* page */
.page {
    position:relative;
    width:100%;
    height:637px;
}
.page img {
    width:100%;
    height:100%;
    border-bottom-left-radius: 20px;
}
.page .title-s {
    position:absolute;
    left:40%;
    top:35%;
    color:white;
    font-weight:500;
    font-size:20px;
}
.page .title-b {
    position:absolute;
    left:30%;
    top:43%;
    color:white;
    font-weight:700;
    font-size:50px;
}

/* search */
.search {
    width:80%;
    height:110px;
    background-color: rgb(34, 179, 193);
    margin:0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top:25px;
}
.search .item {
    display:flex;
    height:60px;
    width:100%;
}
.prompt {
    flex:2;
    text-align: center;
    line-height: 60px;
}
.prompt span{
    font-weight:700;
    font-size:26px;
    color:white;
}
.border-select{
    flex:3;
    height:70%;
    border-bottom:2px solid white;
    margin-top:10px;
}
.search .item #destinations {
    border:none;
    outline:none;
    height:100%;
    width:100%;
    color:white;
    padding-left: 20px;
    background: rgb(34, 179, 193);
}
.button-search {
    flex:2;
    text-align: center;
    padding-top:10px;
}
.button-search button{
    width:70%;
    height:85%;
    border:2px solid white;
    border-radius: 30px;
    font-weight: 700;
    background: rgb(34, 179, 193);
    color:white;
    transition: all 0.3s;
}
.button-search button:hover {
    background: white;
    color:rgb(34, 179, 193);
    transition: all 0.3s;
}
/* results */
.results {
    height:1300px;
    width:80%;
    margin:0 auto;
}
/* 行 */
.results .item {
    width:100%;
    height:400px;
    margin-top:50px;
}
/* 左 */
.results .item .left {
    float:left;
    width:48%;
    height:100%;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}
/* 内容 左右的格式一样 */
.results .item img {
    float:left;
    height:100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.results .item  .introduce {
    float:left;
    height:100%;
    width:300px;
    margin-left:15px;
}
.results .item .introduce h4 {
    font-weight: 700;
    margin-top: 10px;
}
.results .item .introduce p {
    color:#22b3c1;
    font-size:18px;
}
.results .item .introduce .text {
    color:#afafaf;
}
/* 内容 左右的格式一样 */

/* 右 */
.results .item .right {
    float:right;
    width:48%;
    height:100%;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}
/* footer */
.footer{
    position:relative;
    margin-top:120px;
    height:241px;
    width:100%;
}
.footer img{
    width:100%;
    height:100%;
}
.footer h2 {
    position:absolute;
    top:100px;
    left:100px;
    color:#FFFFFF;
}