.f {
    height: 20%;
    background-color:rgb(56, 126, 218);
}
.s {
    height: 65%;
    background-color:rgb(56, 224, 216);
}
.t {
    height: 15%;
    background-color:rgb(56, 126, 218);
}
